@import '~antd/dist/antd.css';

@font-face { 
  font-family: 'sofia-pro';
  src: url('./fonts/sofia-pro.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "sofia-pro",sans-serif;
}


